body {
    background: #F4F6F9;
}
.form-group {
    position: relative;
}
.invalid-feedback {
    position: absolute;
    bottom: -20px;
}
.page-item.active .page-link {
    background-color: #6c757d;
    border-color: #6c757d;
}
.loading-spinner{
    width:30px;
    height:30px;
    border:2px solid indigo;
    border-radius:50%;
    border-top-color:#0001;
    display:inline-block;
    animation:loadingspinner .7s linear infinite;
}
@keyframes loadingspinner{
    0%{
        transform:rotate(0deg)
    }
    100%{
        transform:rotate(360deg)
    }
}